@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');

/* by adding a class to the html tag */
.google-fonts{
    font-family: 'Alkatra', cursive;    /* with custom fonts from Google Fonts  */
}


/* Set the background color of all pages */
html, body {
    background-color: #3be2ff;
  }


  /* Set the style of the navigation list */
header nav ul {
    background-color: #329fb3;
    border-bottom: 1px solid #111111;
    box-sizing: border-box;
    list-style: none;
    margin-top: 0;
    margin-bottom: 2em;
    padding: 0 0 0 1em;
  }


  /* Set the spacing and layout of the nav list items */
  header nav ul li {
    display: inline-block;
    margin: 0 1em;
    padding: 1em 0 1em 0;
  }


  /* Set the style of the links in the nav */
  header nav ul li a {
    font-weight: bold;
    text-decoration: none;
    color: #FF54a1;
  }


  footer{
    color: #ffef63;
    text-align: left;
    padding: 1em;
    border-top: 1px solid #111111;
    position: fixed;
    bottom: 6px;
    right: 0px;
    width: 100%;
    background-color: #329fb3;
    box-sizing: border-box;
  }

  /* Set the width on all tables */
  table {
    width: 100%;
  }


  /* Make the login and sign-up forms look nicer */
  .login-form,
.signup-form {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin: auto;
  max-width: 400px;
  padding: 2em;
}


/* Make the task and projects forms look nicer */
.task-form,
.project-form {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin: auto;
  max-width: 600px;
  padding: 2em;
}


/* Make all of the headers the same */
.task-form h1,
.login-form h1,
.signup-form h1,
.project-list h1,
.project-form h1,
.project-detail h1,
.my-tasks-list h1 {
  margin-top: 0;
  color: #c73677;
}


/* Add spacing to the section of the project detail */
.project-detail h2 {
  margin-top: 2em;
}


/* Standardize form layout using grid */
.task-form p,
.login-form p,
.signup-form p,
.project-form p {
  display: grid;
  align-items: center;
  column-gap: 10px;
  grid-template-columns: 100px 1fr;
}


/* Make the buttons a little larger */
.task-form button,
.my-tasks-list button,
.login-form button,
.signup-form button,
.project-form button {
  padding: 0.25em 1em;
}


/* Add a nice box around the lists and details */
.my-tasks-list,
.project-list,
.project-detail {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin: auto;
  max-width: 800px;
  padding: 2em;
}



.project-list a,
.project-detail a {
  color: #ff54a1;
  font-weight: bold;
  font-size: 1em;
}


/* Add padding to the table header and table datum tags */
.my-tasks-list th,
.my-tasks-list td,
.project-list th,
.project-list td,
.project-detail th,
.project-detail td {
  padding: .5em;
}


/* Add a bottom border to the table header tags */
.my-tasks-list thead tr th,
.project-list thead tr th,
.project-detail thead tr th {
  border-bottom: 2px solid #DEDEDE;
}


/* Center align the text on specific table header cells */
.my-tasks-list tbody td:nth-child(2),
.my-tasks-list tbody td:nth-child(3),
.my-tasks-list tbody td:nth-child(4),
.project-list tbody tr td,
.project-detail tbody td:nth-child(2),
.project-detail tbody td:nth-child(3),
.project-detail tbody td:nth-child(4),
.project-detail tbody td:nth-child(5) {
  text-align: center;
}


/* Add horizontal rules to all rows except the last */
.my-tasks-list tbody :not(tr:last-child) td,
.project-list tbody :not(tr:last-child) td,
.project-detail tbody :not(tr:last-child) td {
  border-bottom: 1px solid #DEDEDE;
}
